<div class="container">
  <h4 class="center">Accounts</h4>

  <div class="account-section border bg-light" *ngFor="let account of accounts">
    <div class="account-type" *ngIf="account.accountType == 'ACCOUNT_SAVING'">Saving Account
      <div class="approved" *ngIf="account.approved == 'no'"> [not approved]</div>
    </div>
    <div class="account-type" *ngIf="account.accountType == 'ACCOUNT_CHECKING'">Checking Account
      <div class="approved" *ngIf="account.approved == 'no'"> [not approved]</div>
    </div>
    <div class="account-info">
      <div class="account-number"><b>Acct.</b> {{account.accountNumber}}</div>
      <div class="account-balance"><b>Available balance:</b> USD ${{account.balance.toFixed(2)}}.</div>
    </div>

  </div>
</div>

