<div class="container">
  <div class="row">
    <div class="col border rounded">
      <a class="nav-link selector" routerLink="approveAccount" routerLinkActive="is-active">Approve Accounts</a>
    </div>
    <div class="col border rounded">
      <a class="nav-link selector" routerLink="approveBeneficiary" routerLinkActive="is-active">Approve Beneficiaries</a>
    </div>
    <div class="col border rounded">
      <a class="nav-link selector" routerLink="manageStatement" routerLinkActive="is-active">View Statements</a>
    </div>
    <div class="col border rounded">
      <a class="nav-link selector" routerLink="toggleCustomer" routerLinkActive="is-active">Toggle Customers</a>
    </div>
  </div>
  <router-outlet></router-outlet>

</div>
