<div class='h-80 p-5 bg-light border box'>
  <h4>Forgot Password</h4>
  <form [formGroup]="forgotPasswordForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username"
        formControlName="username" [(ngModel)]="forgotPasswordInfo.username">
      <div *ngIf="submitted && f.username.errors" class="alert alert-danger" role="alert">
        Username is required
      </div>
    </div>

    <div class="form-group">
      <label for="question">Select Question</label>
      <select name="question" id="question" class="form-control" formControlName="question" [(ngModel)]="forgotPasswordInfo.questionId">
        <option *ngFor="let question of securityQuestionList" [ngValue]="question.id">{{question.question}}</option>
      </select>
      <div *ngIf="submitted && f.question.errors" class="alert alert-danger" role="alert">
        Must select security question
      </div>
    </div>

    <div class="form-group">
      <label for="answer">Give the answer to the personalized security question</label>
      <input type="text" class="form-control" id="answer" name="answer"
        formControlName="answer" [(ngModel)]="forgotPasswordInfo.answer">
      <div *ngIf="submitted && f.answer.errors" class="alert alert-danger" role="alert">
        Answer is required
      </div>
    </div>

    <input type="submit" class="btn btn-primary" value="Submit" (click)="onSubmit()">

  </form>
  <p class="p-2">Already have an account? <a routerLink="/login"> Login Here</a></p>
</div>
